.section_content {
  @apply grid grid-cols-1;
  grid-template-rows: 1fr minmax(auto, 100vh) 1fr;
  .section_content_background {
    @apply row-start-1 row-span-full col-start-1 col-span-full;
    img {
      width: 100%;
      height: 100%;
      max-height: 100vh;
      object-fit: cover;
      object-position: center;
      /* filter: brightness(.7); */
    }
  }
  .section_content_holder {
    @apply row-start-1 row-span-full col-start-1 col-span-full self-center justify-center;
    @apply grid grid-cols-5 gap-4 xl:container xl:m-auto min-h-screen py-20;
  }

  p {
      max-width: 60ch;
  }
  h2 {
      max-width: 35ch;
  }
}
