@import './lib/fontface.css';

* {
  /* @apply border border-blue-400; */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
}

.root {
  @apply font-serif;
}

h2 {
  @apply text-xl mb-4 font-bold;
}

p {
  @apply text-base mb-2;
}

.main_scroll_controller{
  overflow: hidden;
}

.scrollmagic-pin-spacer{
   top:0 !important
}
