@import './lib/fontface.css';
@import './partials/resources.css';

* {
  /* @apply border border-blue-400; */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
}
/* html {
  scroll-behavior: smooth;
} */

.root {
  @apply font-serif;
}

h2 {
  @apply text-xl mb-4 font-bold;
}

p {
  @apply text-base mb-2;
}

.main_scroll_controller{
  overflow: hidden;
}

.scrollmagic-pin-spacer{
   top:0 !important
}

.btn_primary{
  @apply flex items-center py-2 px-4 bg-gray-400;
  svg {
    @apply ml-2;
  }
}

.btn_next{
  @apply absolute bottom-12 w-36 text-center flex bg-white text-black;
  left: calc(50% - 36px);
  border-radius: 3px;
  box-sizing: border-box;
  background-clip: padding-box;
  height: 2.5rem;
  &:hover{
    @apply ring-white ring-4 ring-opacity-40;
    border: 3px solid transparent;
    transition: all 350ms ease;
  }
}

.primary_color{
  color: #edcb0a;
}
.bg_primary_color{
  background-color: #edcb0a;
}


